/* Layout for search container */
.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    font-family: 'Inconsolata', 'Monaco', monospace;
}

.search__form {
    margin: 5em 0;
    width: 75%;
}

.search__input {
    outline: none;
    background-color: transparent;
    border: 0;
    font-family: inherit;
    font-size: 3vw;
    line-height: 1;
    display: inline-block;
    box-sizing: border-box;
    width: 75%;
    max-width: 1200px;
    color: white;
    border-bottom: 4px solid #13E8E9;
}

.search__input:focus {
    border: 0;
    border-bottom: 4px solid #13E8E9;
}

.search__input::-webkit-input-placeholder {
    opacity: 0.1;
    /* WebKit, Blink, Edge */
    color: #fff;
}

.search__input::-moz-placeholder {
    opacity: 0.1;
    /* Mozilla Firefox 19+ */
    color: #fff;
}

.search__input:-ms-input-placeholder {
    opacity: 0.1;
    /* Internet Explorer 10-11 */
    color: #fff;
}

.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-decoration {
    -webkit-appearance: none;
}

.search__input::-ms-clear {
    display: none;
}

.search__info {
    font-size: 90%;
    font-weight: bold;
    display: block;
    color: white;
    letter-spacing: 2px;
    width: 75%;
    margin: 0 auto;
    padding: 0.85em 0;
    text-align: right;
}

/************************/
/* Transitions 			*/
/************************/


.search--open {
    pointer-events: auto;
    opacity: 1;
}

/* Close button */
.btn--search-close {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 1);
    transition: opacity 0.6s, transform 0.6s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.search--open .btn--search-close {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

/* Search form with input and description */
.search__form {
    opacity: 0;
    transform: scale3d(0.7, 0.7, 1);
    transition: opacity 0.6s, transform 0.6s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.search--open .search__form {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

@media screen and (max-width: 40em) {
    .btn--search-close {
        font-size: 1.25em;
    }
}
